<nav class="navbar">
  <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <ul class="menu-items">
          <li><a href="/home" style="color: #f16823;">Home</a></li>
          <li><a href="/login" style="color: #f16823;">Login</a></li>
      </ul>
      <!--logo start-->
      <a class="logo"><img src="assets/img/logo1.png" width="160" height="75"style="display: flex; position:absolute;top: -9.5px;0;left: 15px;"></a>
      <!--logo end-->
  </div>
</nav>
<div class="container p-t-10" style="margin-top: 8%">
  <div class="row" >
    <div
      class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
    >
      <!--div class="col-sm-9 col-md-6 col-lg-8 col-xl-10"-->
        <div class="home-text">
          
            <span style="font-size: 36pt;color:#294AA7;">
              <strong> <br> Remove barriers,<br>find clarity ,<br> exceed goals</strong>, </span><br>
            <span style="font-size: 28pt;color:#f16823">
              Regain your focus and <br>maximize deep work. . .</span>
          
        

       
      </div>
    
      <!--div class="col-sm d-flex"-->
        <div class="home-img">
          <img src="assets/img/time-tracking.svg" width="680" height="680" style="display: block; margin-left: 20%; margin-top: -14%;">
        </div>
      
  </div>
  
</div>


  


